<nav class="project_cat">
    <ul class="project_cat__list">
      <li class="project_cat__item"><a class="project_cat__link cat_name" href="/projekty/">Projekty</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='rodinne-domy' %}menu__item--active {%endif%}" href="/projekty/rodinne-domy/">Rodinné domy</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='bytove-domy' %}menu__item--active {%endif%}" href="/projekty/bytove-domy/">Bytové domy</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='polyfunkcni-objekty' %}menu__item--active {%endif%}" href="/projekty/polyfunkcni-objekty/">Polyfunkční objekty</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='administrativni-objekty' %}menu__item--active {%endif%}" href="/projekty/administrativni-objekty/">Administrativní objekty</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='urbanismus' %}menu__item--active {%endif%}" href="/projekty/urbanismus/">Urbanismus</a></li>
      <li class="project_cat__item"><a class="project_cat__link {% if menu==='interier' %}menu__item--active {%endif%}" href="/projekty/interier/">Interiér</a></li>
    </ul>
  </nav>