<nav class="project_cat">
    <ul class="project_cat__list">
      <li class="project_cat__item {% if menu==='rea_rodinne' %}menu__item--active rea_active {%endif%}"><a class="project_cat__link" href="/realizace/rodinne-domy/">Rodinné domy</a></li>
      <li class="project_cat__item {% if menu==='rea_bytove' %}menu__item--active rea_active{%endif%}"><a class="project_cat__link" href="/realizace/bytove-domy/">Bytové domy</a></li>
      <li class="project_cat__item {% if menu==='rea_polyfunkcni' %}menu__item--active rea_active{%endif%}"><a class="project_cat__link" href="/realizace/polyfunkcni-objekty/">Polyfunkční objekty</a></li>
      <li class="project_cat__item {% if menu==='rea_administrativni' %}menu__item--active rea_active{%endif%}"><a class="project_cat__link" href="/realizace/administrativni-objekty/">Administrativní objekty</a></li>
      <li class="project_cat__item {% if menu==='rea_urbanismus' %}menu__item--active rea_active{%endif%}"><a class="project_cat__link" href="/realizace/urbanismus/">Urbanismus</a></li>
      <li class="project_cat__item {% if menu==='rea_interier' %}menu__item--active rea_active{%endif%}"><a class="project_cat__link" href="/realizace/interier/">Interiér</a></li>
    </ul>
  </nav>