<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <title>THER - Architektonický ateliér</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a class="menu__link logo__home" href="/" class="active">THER</a>
      </div>

      <div class="menu__list" id="myTopnav">
        <div class="menu__dropdown">
        <button onclick="document.location='/projekty/'" class="button-dropdown menu__item {% if menu==='projekty' %}menu__item--active {%endif%}">Projekty
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown__items">
            <a href="/projekty/rodinne-domy/">Rodinné domy</a>
            <a href="/projekty/bytove-domy/">Bytové domy</a>
            <a href="/projekty/polyfunkcni-objekty/">Polyfunkční objekty</a>
            <a href="/projekty/administrativni-objekty/">Administrativní objekty</a>
            <a href="/projekty/interier/">Interiér</a>
          </div>
        </div>
        <div class="menu__dropdown">
          <button onclick="document.location='/realizace/'" class="button-dropdown menu__item {% if menu==='realizace' %}menu__item--active {%endif%}">Realizace
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown__items">
            <a href="/realizace/rodinne-domy/">Rodinné domy</a>
            <a class="{% if menu==='rodinne-domy' %}menu__item--active {%endif%}" href="/realizace/bytove-domy/">Bytové domy</a>
            <a href="/realizace/polyfunkcni-objekty/">Polyfunkční objekty</a>
            <a href="/realizace/administrativni-objekty/">Administrativní objekty</a>
            <a href="/realizace/interier/">Interiér</a>
          </div>
        </div>
        <a class="menu__item {% if menu==='onas' %}menu__item--active {%endif%}" href="/onas/">O nás</a>
        <a class="menu__item {% if menu==='kontakt' %}menu__item--active {%endif%}" href="/kontakt/">Kontakt</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header> 

    