<div class="grid">
    <aside>
      <div class="popis_project">
        <h2 class="project_title"> {{title}}</h2>
        <h4>Lokace:</h4><p>{{lokace}}</p>
        <h4>Rok:</h4><p>{{rok}}</p>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          voluptas voluptates quam reprehenderit. Illo autem quo, obcaecati
          recusandae beatae adipisci sapiente quia velit necessitatibus et
          atque! Et quaerat earum reprehenderit praesentium consequatur, rerum
          culpa expedita id est, fugit molestias animi?
        </p>
      </div>
    </aside>